[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
coverage = "*"

[packages]
django = "*"
psycopg2-binary = "*"
internetarchive = "*"
typing_extensions = "*"

[requires]
python_version = "3.9"
